@page "/Admin/Books/Details/{BookId}"
@using Assignment02.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@namespace Assignment02.BlazorWebApp



@if (string.IsNullOrEmpty(Role)) {
    <PageTitle>Unauthorized</PageTitle>
    <Unauthorized></Unauthorized>
} else if (SelectedBook == null) {
    <p><em>Loading...</em></p>
} else {
    <PageTitle>Books</PageTitle>
    <h4>Book Details</h4>
    <div class="col-lg-12">
        <EditForm Model="@SelectedBook">

            <div style="padding-top: 20px;">
                <div class="form-group col-md-6">
                    <label class="example-label">Title</label>
                    <SfTextBox Type="InputType.Text" @bind-Value=SelectedBook.Title CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Type</label>
                    <SfTextBox ID="Type" Type="InputType.Text" @bind-Value=SelectedBook.Type CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Price</label>
                    <SfNumericTextBox ID="Price" @bind-Value=SelectedBook.Price CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfNumericTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Advance</label>
                    <SfTextBox ID="Advance" Type="InputType.Text" @bind-Value=SelectedBook.Advance CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Royalty</label>
                    <SfTextBox ID="Royalty" Type="InputType.Text" @bind-Value=SelectedBook.Royalty CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Sales</label>
                    <SfNumericTextBox ID="Sales" @bind-Value=SelectedBook.Sales CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" ></SfNumericTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Note</label>
                    <SfTextBox ID="Note" Type="InputType.Text" @bind-Value=SelectedBook.Note CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Publisher Date</label>
                    <SfDatePicker ID="PublishedDate" Type="InputType.Text" @bind-Value=SelectedBook.PublishedDate CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always"></SfDatePicker>
                </div>

                <div class="form-group col-md-6">
                    <label class="example-label">Publisher Name</label>
                    <SfDropDownList @bind-Value=@(SelectedBook.PublisherId) DataSource="@AllPublishers" Placeholder="Publisher Name">
                        <DropDownListFieldSettings Value="Id" Text="Name">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <br />
                <span>Author</span>


                @foreach (var item in SelectedAuthors) {
                    <div class="form-group col-md-6">
                        <SfTextBox Value=@(item.FirstName + " " + item.LastName) CssClass="e-small" Width="100" FloatLabelType="FloatLabelType.Always" Enabled="false"></SfTextBox>
                    </div>

                    <text>Change into</text>

                    <div class="form-group col-md-6">
                        <SfDropDownList @bind-Value=@(item.Id) AllowFiltering="true" DataSource="@AllAuthors" TValue="string" TItem="Author" FloatLabelType="FloatLabelType.Always">
                            <DropDownListTemplates TItem="Author">
                                <ItemTemplate Context="child_context">
                                    @{
                                        var dropDownItem = child_context as Author;
                                        <div>
                                            <span>  @(dropDownItem.FirstName + " " + dropDownItem.LastName)</span>
                                        </div>
                                    }
                                </ItemTemplate>

                                <ValueTemplate Context="child_context">
                                    @{
                                        var dropDownItem = child_context as Author;
                                        <div>
                                            <span>@(dropDownItem.FirstName + " " + dropDownItem.LastName)</span>
                                        </div>
                                    }
                                </ValueTemplate>
                            </DropDownListTemplates>
                            <DropDownListFieldSettings Value="Id" Text="FirstName">
                            </DropDownListFieldSettings>
                            @{
                               
                                <SfButton @onclick="() => RemoveAuthor(item)">Remove Author</SfButton>
                            }
                        </SfDropDownList>
                    </div>
                }
            </div>
            <br />
            <SfButton @onclick="() => AddAuthor()">Add an Author</SfButton>
        </EditForm>
        <div class="temp">
            <br />
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <SfButton @onclick="async () => await CancelAsync()" CssClass="e-warning">Cancel</SfButton>
                <SfButton @onclick="async () => await SaveAsync()">Save</SfButton>
            </div>
        </div>
        <div class="temp">
        </div>
    </div>
}